body{
  font-family:'Ubuntu';
    text-align: center;
}


h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
}

p{
color:#8f8f8f;
}
/* section */
.coloured-section{
    background-color: #ff4c68;
    color:#fff;
}

/* headings */
.big-heading{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2.7rem;
  line-height: 1.5;
  color:#fff;

}
.container{
  padding:3% 15% 7%;
}
#title{
    background-color: #ff4c68;
  text-align: left;

}
/* navigation bar */

.navbar{

  padding:0 0 4.5rem;
  font-weight: lighter;
}
.nav-link{
  font-family: 'Montserrat';

}

.nav-item{
  padding: 0 18px;
}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;

}
/* download buttons */
.download-button {

  font-family:sans-serif;

  margin: 5% 3% 5% 0;
}
/* title image */
.title-image{
  width:60%;
  transform: rotate(25deg);
  position: absolute;
  right:30%;
}
/* features section */
#features{
padding: 6rem 15rem;
background-color: #fff;
position: relative;
z-index: 1;
}
.feature-title{
  font-size: 1.5rem;
}
.feature-box{
  text-align: center;
padding: 5%;
}
.bi{
width: 5rem;
height:5rem
}
.bi{
  color: #ef8172;
  margin-bottom: 1rem;
}
.bi:hover{
  color: #ff4c68;
}

/* testimonials */
#testimonials{

  text-align: center;
  background-color: #ef8172;

}
.testimonial-image{
  width: 12%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item{
  padding: 7% 15%;
}
#press{
    background-color: #ef8172;

    padding-bottom: 3%;
}
h2{

  font-size: 2.6rem;
  line-height: 3rem;

}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
/* Pricing place */
#pricing {
  padding: 100px;

}
.pricing-column{
  padding: 3% 2%
}
/* CTA SECTION */
#cta{

padding: 7% 15%;
  text-align: center;
}

.cta-heading{
font-family: 'Montserrat', sans-serif;
font-size: 3.15rem;
line-height: 4.2rem;
}
/* footer section */
#footer{
  padding: 4.8% 14%
}
.social-icon{
  margin: 20px 10px;
}


@media (max-width: 1028px) {

  #title{

  }
  .title-image{
    position: static;
    transform: rotate(0);
  }
}
